TOPIC: Python Basics Variable

Q.1

In [8]:
a = input('enter value of a: ')
b = input('enter value of b: ')
a,b = b,a
print('after swapping: ')
print('value of a: ',a)
print('value of b: ',b)

enter value of a: 258
enter value of b: 879
after swapping:
value of a:  879
value of b:  258

Q.2

In [ ]:
L = float(input('Enter the length of the rectangle: '))
# L is the length of the rectangle
W = float(input('Enter the width of the rectangle: '))
#W is  width of the rectangle
A = L*W
#A is area of the rectangle
print('The area of the triangle : ',A)

Enter the length of the rectangle: 57
Enter the width of the rectangle: 21
The area of the triangle :  1197.0

Q. 3

In [ ]:
c = float(input('enter the temp. in celsisus'))
F = ((c*9)+160)/5
print('temp. in fahrenheit : ',F)

enter the temp. in celsisus100
temp. in fahrenheit :  212.0

TOPIC: String Based Questions

Q.1

In [ ]:
s0 = input('enter the string: ')
print('Length of the string: ',len(s0))

enter the string: my name is abir ghosh
Length of the string:  21

Q.3

In [ ]:
s1 = input('enter the string: ')
print('after reversing the string: ',s1[::-1])

enter the string: i am doing python coding
after reversing the string:  gnidoc nohtyp gniod ma i

Q.2

In [ ]:
s2 = input('enter the string: ')
s3 = s2.count('a')+s2.count('A') + s2.count('e') + s2.count('E') + s2.count('i') + s2.count('I') + s2.count('o') + s2.count('O') + s2.count('u') + s2.count('U')
print('No. of vowel in the sentence: ' ,s3)

enter the string: nksskowoijrmoismnmncjjdhury
No. of vowel in the sentence:  6

Q.4

In [ ]:
s4 = input('enter the string: ')
s5 = s4.replace(' ','')
print('after removing the spaces: ',s5)

enter the string: n mkj mnjdhu mnsjhdgtryu bndheiuw
after removing the spaces:  nmkjmnjdhumnsjhdgtryubndheiuw