TOPIC: String Based Assignment Problem

1.

In [ ]:
s = input('enter a string: ')
print('the reversed string is:',s[::-1])

enter a string: ncjhgftru
the reversed string is: urtfghjcn

2

In [1]:
s = input('enter the string')
if s == s[::-1]:
  print('this is palindrome')
else:
  print('this is not palindrome')

enter the stringqweewq
this is palindrome

3

In [ ]:
s = input('enter a string: ')
print('the string in uppercase: ',s.upper()) #convert a string into upper case

enter a string: nbcvhfgyr
the string in uppercase:  NBCVHFGYR

4

In [ ]:
s = input('enter a string: ')
print('the string in lowercase: ',s.lower()) #Convert a string to lowercase.

enter a string: NBCVDGTRY
the string in lowercase:  nbcvdgtry

6

In [ ]:
s2 = input('enter a string: ')
a= len(s2.replace(' ',''))
b = s2.count('a')+s2.count('A') + s2.count('e') + s2.count('E') + s2.count('i') + s2.count('I') + s2.count('o') + s2.count('O') + s2.count('u') + s2.count('U')
print('no. of consonents in the string; ',(a-b))

enter a string: nbc vfgtuwionc bvdgyeiohf
no. of consonents in the string;  17

5

In [ ]:
s2 = input('enter a string: ')
print('no. of vowels in a string: ',
s2.count('a')+s2.count('A') + s2.count('e') + s2.count('E') + s2.count('i') + s2.count('I') + s2.count('o') + s2.count('O') + s2.count('u') + s2.count('U'))

enter a string: nbcvdfteyuiomn bdvgftr bncbgfhyeii
no. of vowels in a string:  7

7

In [ ]:
s2 = input('enter a string: ')
print('after removing all whitespaces: ',s2.replace(' ','')) #remove whitespace from string

enter a string: bvvfg cbvdhyu bfgtriow
after removing all whitespaces:  bvvfgcbvdhyubfgtriow

8

In [3]:
s1 = input('enter the string: ')
l1 = s1.split()
l2 = l1.append('p')
s2 = ''.join(l1)
print('the length of the given string: ', s2.rindex('p'))

enter the string: bnjdhplakyrupjnduplkuehdgplmndgy
the length of the given string:  32

9

In [ ]:
s1 = input('enter a string: ')
s0 = input('enter the word to check : ')
if s0 in s1:
  print('the word is present in the string')
else:
  print('the word is not present in the string')

enter a string: i am abir ghosh
enter the word to check : abir
the word is present in the string

10

In [ ]:
s1 = input('enter a string: ')
s2 = input('enter the word need to replace: ')
s3 = input('enter the new replaced word: ')
print('before replacing the word: ',s1)
print('after replacing the word: ',s1.replace(s2,s3))

enter a string: i am darth vader
enter the word need to replace: darth vader
enter the new replaced word: abir ghosh
before replacing the word:  i am darth vader
after replacing the word:  i am abir ghosh

11

In [ ]:
s1 = input('enter a string: ')
s2 = input('enter the word/letter to count the occurance in the string: ')
print('the occurance of the word/letter in the string: ',s1.count(s2))

enter a string: i am abir abir ghosh ghosh
enter the word/letter to count the occurance in the string: ghosh
the occurance of the word/letter in the string:  2

12

In [ ]:
s1 = input('enter a string: ')
s2 = input('enter the word to check first occurance: ')
print('the first occurance of the word in the string: ',s1.find(s2))

enter a string: my hot cold abir ghosh hot cold cold hot
enter the word to check first occurance: hot
the first occurance of the word in the string:  3

13

In [ ]:
s1 = input('enter a string: ')
s2 = input('enter the word to check first occurance: ')
print('the last occurance of the word in the string: ',s1.rfind(s2))

enter a string: my hot cold abir ghosh hot cold cold hot
enter the word to check first occurance: cold
the last occurance of the word in the string:  32

14

In [ ]:
s1 = input('enter a string: ')
print('after spliting the words in a list: ', s1.split())

enter a string: i am abir ghosh
after spliting the words in a list:  ['i', 'am', 'abir', 'ghosh']

15

In [ ]:
s1 = input('enter a string: ')
print('after spliting the words in a list: ', s1.split())
s1_list = s1.split()
s2 = input('enter the separator: ')
print('after joining the words: ', s2.join(s1_list))

enter a string: i am abir ghosh
after spliting the words in a list:  ['i', 'am', 'abir', 'ghosh']
enter the separator:
after joining the words:  i am abir ghosh

16

In [ ]:
s1 = input('enter a string: ')
print('after joining the words: ', s1.replace(' ','_'))

enter a string: i amnfg bgftyr nb bfgr
after joining the words:  i_amnfg_bgftyr_nb_bfgr_

17

In [ ]:
s1 = input('enter a string: ')
s2 = input('enter the words/phrase need to check strats with')
print('True for yes/False for no: ',s1.startswith(s2))

enter a string: mbfg dge vfgtr bvsgwu
enter the words/phrase need to check strats withmbfg
True for yes/False for no:  True

18

In [ ]:
s1 = input('enter a string: ')
s2 = input('enter the words/phrase need to check strats with')
print('True for yes and False for no: ',s1.endswith(s2))

enter a string: mdnd bfgtry bdgs
enter the words/phrase need to check strats withmnf
True for yes and False for no:  False

19

In [ ]:
s1 = input('enter a string: ')
print('the title case of the string: ',s1.title())

enter a string: ghosh
the title case of the string:  Ghosh

20

In [14]:
s = input('enter a string: ')
l2 = ''
l = s.split()
i= 0
while i<len(l):
  l1 = l[i]
  if len(l1) > len(l2):
    l2 = l1
  i+=1
print('the longest word in the string: ',l2)

enter a string:  i am abir ghosh
the longest word in the string:  ghosh

21

In [25]:
s = input('enter a string: ')
l2 = ''
l = s.split()
i= 0
while i<len(l):
  l1 = l[i]
  if len(l1) > len(l2):
    l2 = l1
  i+=1
i1 = 0
l3 = l2
while i1<len(l):
  l0 = l[i1]
  if len(l0) <= len(l3):
    l3 = l0
  i1 += 1
print('the shortest word in the string: ',l3)

enter a string: hgftyr ghfty gdte
the longest word in the string:  hgftyr
the shortest word in the string:  gdte

22

In [ ]:
s1 = (input('enter a string: '))
print('the reversed string: ',s1[::-1])

enter a string: i am abir
the reversed string:  riba ma i

23

In [ ]:
s1 = input('enter a string: ')
print('true is yes and false is no: ' ,s1.isalnum())

enter a string: ghgty67 hgyt54
true is yes and false is no:  False

24

In [28]:
s = input('enter the string: ')
d = []
for i in s:
  if i.isdigit():
    d.append(i)
print('the digits in the string: ',d)

enter the string: nh567 bgh56743
the digits in the string:  ['5', '6', '7', '5', '6', '7', '4', '3']

25

In [29]:
s = input('enter the string: ')
d = []
for i in s:
  if i.isalpha():
    d.append(i)
print('the digits in the string: ',d)

enter the string: nh45 456yrheiown385702983yuehjdnmxkd
the digits in the string:  ['n', 'h', 'y', 'r', 'h', 'e', 'i', 'o', 'w', 'n', 'y', 'u', 'e', 'h', 'j', 'd', 'n', 'm', 'x', 'k', 'd']

26

In [1]:
s = input('enter the string: ')
u = 0
for i in s:
  if i.isupper():
    u += 1
print('the no. of uppercase letters in the string: ',u)

enter the string: i AM BAIRhgdyeJHGgftFV
the no. of uppercase letters in the string:  11

27

In [2]:
s = input('enter the string: ')
u = 0
for i in s:
  if i.islower():
    u += 1
print('the no. of lowercase letters in the string: ',u)

enter the string: i AM BAIRhgdyeJHGgftFV
the no. of lowercase letters in the string:  9

28

In [ ]:
s1 = input('enter a string: ')
print('after swapping the case of each character: ',s1.swapcase())

enter a string: NHFJUhdhdhNBHvffsy
after swapping the case of each character:  nhfjuHDHDHnbhVFFSY

29

In [ ]:
s1 = input('enter a string: ')
l1 = s1.split()
s2 = input('enter the word needs to remove: ')
l1.remove(s2)
print('after removing the word: ',' '.join(l1))

enter a string: vb bv bn nb
enter the word needs to remove: bv
after removing the word:  vb bn nb

31 and 32

In [3]:
email_to_check = input('enter the email address: ')
email_split = email_to_check.split('@')
username = email_split[0]
domain_name = email_split[1]
print('username: ',username)
print('domain name: ',domain_name)

enter the email address: abirghosh017@gmail.com
username:  abirghosh017
domain name:  gmail.com

33

In [5]:
s = input('enter a string: ')
print('after replacing multiple spaces by single space: ' ,
      ' '.join(s.split()))

enter a string:   ncbhdu     shgdu       ndhfgry    ndheu
after replacing multiple spaces by single space:  ncbhdu shgdu ndhfgry ndheu

35

In [6]:
s = input('enter a URL: ')
print('after extracting the protocol name: ',s.split('://')[0])

enter a URL: https://pwskills.com/learn/course/full-stack-data-science-pro/64a264076977ccc0a0e20c13/lesson/64d7562378681441b11d257d/?from=%2Flearn%2F&clickText=continue&page_from=my_course_page&section=your_courses&sectionId=64d755ef7868145e3a1d2554&lectureType=sectionResource
after extracting the protocol name:  https

36

In [7]:
string = input('enter the string: ')
frequency = {}
for char in string:
  if char in frequency:
    frequency[char] += 1
  else:
    frequency[char] = 1
print(frequency)

enter the string: bnghn bgnhfryue rtyfufbnfh
{'b': 3, 'n': 4, 'g': 2, 'h': 3, ' ': 2, 'f': 4, 'r': 2, 'y': 2, 'u': 2, 'e': 1, 't': 1}

37

In [11]:
s = input('enter a string: ')
s1 = ''
for i in s:
  if i.isalnum():
    s1 = s1+i
print('after removing punctuation: ' , s1)

enter a string: hfyr$%%^&kfjdhr^%$
after removing punctuation:  hfyrkfjdhr

38

In [12]:
s = input('enter a string: ')
if s.isdigit():
  print('the string is numeric')
else:
  print('the string is not numeric')

enter a string: hfgh456
the string is not numeric

39

In [14]:
s = input('enter a string: ')
if s.isalpha():
  print('the string is alphabetic')
else:
  print('the string is not alphabetic')

enter a string: hgdbfhgr456hdbhe456
the string is not alphabetic

40

In [16]:
s = input('enter a string: ')
l = []
for i in s:
  l.append(i)
print(l)

enter a string: jhryu456uti
['j', 'h', 'r', 'y', 'u', '4', '5', '6', 'u', 't', 'i']

41

In [19]:
string = input('enter the 1st word: ')
string1 = input('enter the 2nd word: ')
frequency = {}
frequency2 = {}
for char in string:
  if char in frequency:
    frequency[char] += 1
  else:
    frequency[char] = 1
for char in string1:
  if char in frequency2:
    frequency2[char] += 1
  else:
    frequency2[char] = 1
if frequency2 == frequency:
  print('its anagram')
else:
  print('its not anagram')

enter the 1st word: name
enter the 2nd word: abir
its not anagram

44

In [4]:
s = input('enter a string: ')
string_lower = s.lower()
string_lower_split = string_lower.split()
dict_freq = {}
for word in string_lower_split:
  if word in dict_freq:
    dict_freq[word] += 1
  else:
    dict_freq[word] = 1
items = dict_freq.items()
max_freq_word = ""
max_freq = 0
for word, freq in items:
  if freq > max_freq:
    max_freq = freq
    max_freq_word = word
print('the most frequent word in the string: ',max_freq_word)

enter a string: i am am i abir ghosh shosh abir abir jjjjj jjj ncmji nmcij abir
the most frequent word in the string:  abir

45

In [5]:
s = input('enter a string: ')
f= {}
for i in s.lower().split():
  if i in f:
    f[i] += 1
  else:
    f[i]=1
print('all unique words are: ',f.keys())

enter a string: i i i ma ma ma ma nhg nhg nhg dteyru gtry bv vb bv bv
all unique words are:  dict_keys(['i', 'ma', 'nhg', 'dteyru', 'gtry', 'bv', 'vb'])

46

In [10]:
s = input('enter a word: ')
s1 = s.lower()
v = 'aeiouy'
c = 0
if s1[0] in v:
  c += 1
for i in range(1 , len(s1)):
  if s1[i] in v and s1[i - 1] not in v:
    c += 1
if s1.endswith('e'):
  c -= 1
if c == 0:
  c += 1
print ('no. syllables in the word: ',c )

enter a word: abir
no. syllables in the word:  2

47

In [19]:
s = input('enter a string: ')
if s.isalnum():
  print('no special character')
else:
  print('there is special character')

enter a string: mnbhh/*-
there is special character

48

In [25]:
s = input('enter a string: ')
n  =  int(input('position of the word needs to remove: '))
print('after removing the word: ',' '.join (s.split()[0:n-1]+s.split()[n:]))

enter a string: kjgh bhfgt nfbht
position of the word needs to remove: 1
after removing the word:  bhfgt nfbht

49

In [26]:
s = input('enter a string: ')
s1 = input('enter the word needs to add in the given position: ')
n  =  int(input('position of the word needs to add: '))
print('after adding the word: ',' '.join (s.split()[0:n-1]+[s1]+s.split()[n:]))

enter a string: i am abir ghosh
enter the word needs to add in the given position: kormo
position of the word needs to add: 5
after adding the word:  i am abir ghosh kormo

50

In [40]:
csv_string = 'Name,Age,City\nAlice,30,New York\nBob,25,London\nCharlie,35,Paris'
lines = csv_string.splitlines()
data = [line.split(",") for line in lines]
print(data)

[['Name', 'Age', 'City'], ['Alice', '30', 'New York'], ['Bob', '25', 'London'], ['Charlie', '35', 'Paris']]